@charset "UTF-8";
body {
  background: url(../assets/img/34009211_dvn6.jpg) center;
  margin: 0;
  padding: 0;
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.logo {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  align-items: center;
}
.logo .span {
  font-size: 2.5rem;
  color: #072b56;
}

.secction-1 {
  width: 40%;
  height: 50%;
  padding: 0.5rem;
  margin-left: 8rem;
  margin-top: 5rem;
}
.secction-1 .texto-1 {
  width: 40%;
  height: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
  color: #072b56;
  font-size: 1.5rem;
}
.secction-1 .texto-1::placeholder {
  color: #072b56;
  font-size: 1.5rem;
}
.secction-1 .condicion {
  position: absolute;
}
.secction-1 .condicion::before {
  content: "❗";
}
.secction-1 .botones {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  padding-top: 0.5rem;
}
.secction-1 .botones .btn-1 {
  border-radius: 12pt;
  margin-right: 25px;
  word-wrap: break-word;
  min-width: 80px;
  background-color: #072b56;
}
.secction-1 .botones .btn-1:hover {
  background-color: rgba(205, 217, 231, 0.5058823529);
  color: #072b56;
  border-color: #072b56;
}
.secction-1 .botones .btn-1:focus {
  outline: none;
}
.secction-1 .botones .btn-2 {
  border-radius: 12pt;
  margin-right: 25px;
  word-wrap: break-word;
  min-width: 80px;
  color: #072b56;
  border-color: #072b56;
}
.secction-1 .botones .btn-2:hover {
  background-color: #072b56;
  color: white;
}
.secction-1 .botones .btn-2:focus {
  outline: none;
}

.secction-2 {
  background-color: rgba(216, 223, 232, 0.4705882353);
  position: relative;
  width: 28%;
  height: 35rem;
  box-shadow: 0 0 5px rgba(74, 70, 70, 0.48);
  border-radius: 1rem;
  margin: -50px 20px 0px 150px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.secction-2 .texto-2 {
  width: 100%;
  background: url(../assets/img/Muñeco.png);
  background-repeat: no-repeat;
  border: none;
  height: 500px;
  font-size: 1.15rem;
  overflow: auto;
  resize: none;
  text-align: justify;
}
.secction-2 .texto-2::placeholder {
  color: #072b56;
  position: absolute;
  margin-top: 22rem;
  text-align: center;
}
.secction-2 .texto-2:focus {
  outline: none;
}
.secction-2 .btn-3 {
  border-radius: 12pt;
  margin-right: 25px;
  word-wrap: break-word;
  min-width: 80px;
  border-color: #072b56;
  color: #072b56;
  width: 90%;
  margin-left: 1rem;
}
.secction-2 .btn-3:hover {
  background-color: #072b56;
  color: white;
}
.secction-2 .btn-3:focus {
  outline: none;
  border: none;
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 20px 0;
  color: #072b56;
}
footer h3 {
  font-size: 1.3rem;
}
footer #redes-sociales {
  display: inline;
}
footer #imgIcon {
  width: 3%;
}

@media screen and (max-width: 840px) {
  .contenedor {
    max-width: 100%;
    flex-direction: column;
  }
  .secction-1 {
    margin-left: 1rem;
    width: 100%;
    max-width: 100%;
  }
  .botones {
    flex-direction: column;
    align-items: center;
  }
  .btn-1, .btn-2, .btn-3 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    max-width: 100%;
    min-height: 3rem;
  }
  .secction-2 {
    flex: 1;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: auto;
    width: 95%;
    max-width: 100%;
    height: 15rem;
    margin-top: 1rem;
  }
  .secction-2 .texto-2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: 8rem;
    background: none;
  }
  .secction-2 .texto-2::placeholder {
    color: rgba(7, 42, 86, 0.6588235294);
    position: absolute;
    margin-top: 0;
    text-align: center;
  }
  footer #imgIcon {
    width: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
